/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* hero */
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url("bg1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}

/* navbar */
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}

nav ul li a:hover{
    color: #ff4b2b;
}

.login-btn{
    text-decoration: none;
    color: #000000;
    margin-right: 15px;
    font-weight: 400;
}

/* button */
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
    box-shadow:0 10px 25px #222;
}

.btn:hover{
    background-image: linear-gradient(45deg, #100911, #c1f017);
    border-top-right-radius: 30px;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

/* content */
.content{
    margin-top: 10%;
    max-width: 600px;
}

.content h1{
    font-size: 70px;
    color: #222;
}

.content p{
    margin: 10px 0 30px;
    color: #333;
}

/* button in content */
.content .btn{
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}

/* image */
.Features-img{
    width: 400px;
    position: absolute;
    bottom: 0;
    right: 10%;
}

.Features-img.anim{
    animation-delay: 1.5s;
}

/* animation */
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.8s ease forwards;
}

/* keyframes */
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
